
.flex{
  display: flex;
}

.top {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bottom{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search-button{
  display: flex;
  justify-content: center;
  width: 120px;
  // height: 78px;
}

::ng-deep .mat-raised-button{
  width: 100%;
  height: 33px;
  margin-bottom: 10px;
}

#searchBar{
  width: 100%;
  height: 33px;
  margin-bottom: 10px;
  border-color: black;
  border-width: 3px;
}
