
.custom-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(163, 170, 170, 0.521);
    height: 70px;
}



.left{
  margin-left: 40px;
  flex:1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.title {
  margin: 0;
  flex:1 1 auto;
}

.middle {
  display: flex;
  flex:1 1 auto;
  justify-content: center;
  align-items: center;
}

.right {
  width: 130px;
  flex:1 1 auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-toolbar .right button{
  background-color: #007bff;
  color: #fff;
  font-size: 19px;
  padding: 8px 16px;
  border-radius: 4px;
  border: solid 2px #000000;
  border-radius: 13px;
  height: 45px;
  width: 120px;

}

textarea[matNativeControl]{
  height: 65px;
  border: solid 3px #000000;
}

